{% extends 'layout.html' %}

{% set mainClasses = 'nhsuk-main-wrapper--s' %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
      items: [
    {
      href: "../index",
      text: "home"
    },
    {
      href: "../how-it-works-1",
      text: "How it works"
    }],
    href: "",
    text: "Log out"
    }) }}  
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h2>Example user journeys:</h2>
{{ contentsList({
  items: [
    {
      href: "create",
      text: "Create an NHS login"
    },
    {
      href: "prove",
      text: "Prove their identity"
    },
    {
      href: "login",
      text: "Log in using NHS login"
    }
    ,
    {
      href: "reset",
      text: "Reset their password/manage their account"
    }
    ,
    {
      href: "close",
      text: "Close their account"
    },
    {
      href: "logout",
      text: "Log out",
      current: "true"

    }
  ]
}) }}

      <h2>Logging out</h2>
      <p>Our intention is for NHS login to support global log-off for those partners using the Single Sign On capability that we are in the process of developing. This functionality is intended to be delivered after we enter Public Beta.</p>

      {{ pagination({
        "previousUrl": "close",
        "previousPage": "Close their account"
      }) }}

    </div>
  </div>
{% block pageScripts %}
<script>
document.getElementById('get-started').addEventListener('click', function() {
  console.log('clicked it!');

});

//console.log(getStarted);
</script>
{% endblock %}


{% endblock %}
