{% extends 'layout.html' %}

{% set mainClasses = 'nhsuk-main-wrapper--s' %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
      items: [
    {
      href: "../index",
      text: "home"
    },
    {
      href: "../how-it-works",
      text: "How it works"
    }],
    href: "",
    text: "Authentication and verification"
    }) }}  
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-u-margin-bottom-5">Safety and security</h1>
      <p>Proving users’ identities using the NHS login meets the published standard for identity checking in health and care services. <a href="">Read about the standards on proving identity that NHS login follows.</a></p>
      <p>NHS login stores and processes users’ personal information securely and in line with strict standards. <a href="">Read more about data storage.</a></p>

    </div>
  </div>
{% block pageScripts %}
<script>
document.getElementById('get-started').addEventListener('click', function() {
  console.log('clicked it!');

});

//console.log(getStarted);
</script>
{% endblock %}


{% endblock %}
