{% extends 'layout.html' %}

{% set mainClasses = 'nhsuk-main-wrapper--s' %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
      items: [
    {
      href: "../index",
      text: "home"
    },
    {
      href: "../get-started/get-started",
      text: "Get Started"
    }],
    href: "",
    text: "Onboarding Summary"
    }) }}  
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

    <h1 class="nhsuk-u-margin-bottom-5">Before you request onboarding</h1>

    <h2>1. Check if you need NHS login</h2>
    <p>Before you start connecting your service to NHS login, find out <a href="../how-it-works">how NHS login works</a> and <a href="../overview#isitright">if it’s right for your service</a>.</p>

    <h2>2. Choose your ‘Vector of Trust'</h2>
    <p>You will need to determine the <a href="">‘Vector of Trust’</a> for your service. This is the minimum level of user verification that you should be willing to accept before providing a user with access to your service.</p>
    <p>As part of the assurance process we’ll ask that you’ve gone through this process.</p>

    <h2>3. Develop in the Sandpit</h2>
    <p>The Sandpit is a copy of our production code environment which will help you learn how to integrate with our service. Developing in the Sandpit is a mandatory step before a service can be onboarded.</p>

    <p>The Sandpit can be accessed from the <a href="" target="blank">NHS login GitHub</a>.</p>

    <h2>Begin preparation for ‘Supplier conformance assessment’</h2>
    <p>You can start to get ready for the ‘Supplier conformance assessment’ by ensuring your have a Data Security and Protection Toolkit in place, and an ODS code. You can also make sure your clinical safety considerations are covered.</p>

    <p><a href="request-onboarding">link to request onboarding</a></p>

    </div>
  </div>
{% block pageScripts %}
<script>
document.getElementById('get-started').addEventListener('click', function() {
  console.log('clicked it!');

});

//console.log(getStarted);
</script>
{% endblock %}


{% endblock %}
